.pm_modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.pm_modalContent {
    width: 100%;
    padding: 2rem;
    background: white;
    border-radius: 8px;
    max-width: 600px;
    margin: 2rem auto;
}

.pm_tagSearchInput {

    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 30px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.pm_tagListContainer {
    height: 400px;
    width: 500px;
    max-height: 400px;
    max-width: 500px;
    overflow-y: auto;
}

.pm_tagListContainer > *{
    margin: 5px;
}


.pm_tagButton {
    height: 40px;
    font-size: 15px;
    padding: 0.3rem 0.8rem;
    border-radius: 16px;
    background: #eee;
    border: none;
    cursor: pointer;
    transition: background 0.2s;
}

.pm_tagButton:hover {
    background: #ddd;
}

.pm_selectedTags {
    margin-top: 1rem;
}

.pm_selectedTagList {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.pm_selectedTag {
    background: #cce5ff;
    padding: 0.3rem 0.8rem;
    border-radius: 16px;
}

.pm_submitButton {
    margin-top: 1.5rem;
    padding: 0.5rem 1rem;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.pm_submitButton:disabled {
    background: red;
    cursor: not-allowed;
}

.pm_submitButton:enabled:hover {
    background: #0056b3;
}

.pm_loader {
  width: 100%;
  text-align: center;
  padding: 2rem;
  font-size: 1.2rem;
  color: #666;
}
