
#scrollContainer {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}


.videoFrameWrapper {
    scroll-snap-align: start;
}

.videoFrame {
    width: 100%; 
    height: 89vh;
    display: grid;
    grid-template-columns: 16fr 1fr;
}

.playerSect {
    width: 100%;
    height: 100%;
    aspect-ratio: 9/16;
    border-radius: 16px;
    overflow: hidden;
}

.player {
    width: 100%;
    height: 100%;
    aspect-ratio: 9/16;
}

.controlsSect {
    width: 12vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 10px;
    gap: 30px;
    padding-bottom: 100%;
    align-items: flex-start;
}

.controlsSect > * {
    font-size: 40px;
}

iframe {
    width: 100%;
    height: 100%;
}

.muteBtn{
    margin-bottom: 30px;
}
